<div class="fondo-auth"></div>
<div class="container">
    <div class="contenedor-prin">
        <div class="login-card user_card_2">
            <div class="logo-svg text-center">
            </div>

            <div class="user_card">
                <div class="d-flex justify-content-center title-general">
                    <h5 class="panel-title">ARTIKLA</h5>
              </div>
                <mat-card class="mediumSize">
                    <mat-card-title>Login</mat-card-title>
                        <mat-card-content>
                        <div class="justify-content-center">
                            <mat-form-field>
                                <mat-label></mat-label>
                                <input matInput [(ngModel)]="loginData.nombreUsuario">
                            </mat-form-field><br>
                            <mat-form-field>
                                <mat-label></mat-label>
                                <input matInput [(ngModel)]="loginData.passwordUsuario">
                                <mat-hint></mat-hint>
                            </mat-form-field>
                            <button mat-button (click)="login()" color="primary" >  Ingresar </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->