@import 'assets/bootstrap/bootstrap.css';
@import 'assets/fontawesome/css/all.css';

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.label-form { color: gray; font-weight: 500; font-size: 12.5px;}
.oblig {color: #e17055; transform: translateY(-5px); }