<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3>Agregar articulo</h3>
        </div>
        <div class="card-body">
            <form  action="" [formGroup]="ArticuloDto" (ngSubmit)="guardarArticulo()" novalidate>
                <div class="form-group">
                    <label for="tituloArticulo">Título del artículo</label>
                    <input formControlName="titulo" #tituloArticulo  type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="descripcionArticulo">Descripción del artículo</label>
                    <textarea formControlName="descripcion" #descripcionArticulo class="form-control" rows="4" cols="50">                 
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="categorias">Categoría</label>
                        <select #categorias>
                            <option value="1">Metodológico</option>
                            <option value="2">Teórico</option>
                        </select>
                </div>
                <div>
                    <input type="submit" class="btn btn-outline-success" value="Guardar"/>
                </div>
            </form>
        </div>
    </div>
</div>