<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-5">
            <a class="btn btn-outline-success fa fa-plus" (click)="backHome.emit(3)"> Nuevo artículo</a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div *ngFor="let articulo of articulos" class="col-md-4 p-5">
            <div class="card match-box">
                <div class="card-body">
                  <h5 class="card-title text-center">{{articulo.titulo}}</h5>
                   <hr/>
                  <p class="card-text">{{articulo.descripcion}}</p>
                  <div class="row">
                      <div class="col-md-1 mr-3" *ngFor="let categoria of articulo.categorias" >
                        <span class="badge badge-dark">{{categoria.titulo}}</span>
                      </div>
                  </div>
                  
                  <hr/>
                  <div class="row justify-content-center">
                      <div class="col-md-6 text-center">
                        <a href="#" class="btn btn-outline-primary fa fa-edit"></a>
                      </div>
                      <div class="col-md-6 text-center">
                        <a href="#"  class="btn btn-outline-danger fa fa-times"></a>
                      </div>
                  </div>
                </div>
            </div>
        </div>   
    </div>
</div>